.heroIntro {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 200px 200px;
}

.container {
  height: 100px;
  width: 100px;
  background-color: darkcyan;
  margin: 10px;
  border: solid black;
 }

 .containerSection {
  display: grid;
  grid-template-columns: repeat(3, 100px)
 }